<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyi.birthdayreminder.mapper.BirthdayMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_birthday(name,birthday,relation,remind_time,sex,birthday_type,comment,tag,create_time,update_time,creator)
        values (#{name},#{birthday},#{relation},#{remindTime},#{sex},#{birthdayType},#{comment},#{tag},#{createTime},#{updateTime},#{creator})
    </insert>

    <update id="updateById" parameterType="com.xiaoyi.birthdayreminder.pojo.entity.Birthday">
        update tb_birthday
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="birthdayType != null">
                birthday_type = #{birthdayType},
            </if>
            <if test="remindTime != null">
                remind_time = #{remindTime},
            </if>
            <if test="relation != null">
                relation = #{relation},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="begin != null">
                and create_time &gt; #{begin}
            </if>
            <if test="end != null">
                and create_time &lt; #{end}
            </if>
        </where>
    </select>

    <select id="list" parameterType="string" resultType="com.xiaoyi.birthdayreminder.pojo.dto.BirthdayItemDTO">
        SELECT
            id,
            name,
            birthday,
            birthday_type
        FROM
            tb_birthday
        WHERE
            creator = #{creator}
    </select>

</mapper>
